@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

h1,h2,h3,h4,h5,h6{ 
  margin-top:2em;
  margin-bottom:1em;
  font-size:1.2em;
  font-weight:bolder;
  color:#555;
}